

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Oswald|Source+Sans+Pro');

$font__main: 'Architects Daughter', cursive;
$font__code:'Oswald', sans-serif;
$font__pre: 'Source Sans Pro', sans-serif;
$font__line-height-body: 1.2;
$font__line-height-pre: 1.6;
